integrations:
  - name: nri-elasticsearch
    env:
      HOSTNAME: localhost
      PORT: 9200
      USERNAME:
      PASSWORD:
      CONFIG_PATH: /etc/elasticsearch/elasticsearch.yml
    interval: 60s
    labels:
{% for key, value in newrelic.label.items() %}
      {{ key }}: {{ value }}
{% endfor %}
    inventory_source: config/elasticsearch