node.name: {{ inventory_hostname }}
cluster.name: {{ elasticsearch_cluster_name }}

discovery.seed_hosts:
{% for host in groups[elasticsearch_master_group | replace('-', '_')] %}
    - {{ hostvars[host].ansible_host }}
{% endfor %}

cluster.initial_master_nodes:
{% for host in groups[elasticsearch_master_group | replace('-', '_')] %}
    - {{ host }}
{% endfor %}

{% if elasticsearch.nodeAttributes is defined %}
{% for attr in elasticsearch.nodeAttributes %}
node.attr.{{ attr.name }}: {{ attr.value }}
{% endfor %}
{% endif %}

node.master: {{ elasticsearch.node_master }}
node.data: {{ elasticsearch.node_data }}

path.data: {{ elasticsearch.lib_dir }}
path.logs: {{ elasticsearch.log_dir }}

network.host: {{ hostvars[inventory_hostname].ansible_host }}
network.bind_host: 127.0.0.1, {{ hostvars[inventory_hostname].ansible_host }}, {{ elasticsearch.lb_ip }}

bootstrap.memory_lock: {{ elasticsearch.bootstrap_memory_lock }}

thread_pool.search.size: {{ elasticsearch.thread_pool_search_size }}
thread_pool.search.queue_size: {{ elasticsearch.thread_pool_search_queue_size }}
thread_pool.search.min_queue_size: {{ elasticsearch.thread_pool_search_min_queue_size }}
thread_pool.search.max_queue_size: {{ elasticsearch.thread_pool_search_max_queue_size }}

xpack.monitoring.collection.enabled: true
